* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar{
  font-family: 'Righteous', cursive;
  background-image: linear-gradient(to right, #6B00A9, #FE0078);
}

.nav-link, .whitefont{
  color:white !important;
}


.job-matches{
  position: absolute;
  /* left: 56.53%; */
  right: 33.68%;
  /* top: 43.48%; */
  bottom: 25%;
}

.saved-jobs{
  position: absolute;
  /* left: 73.75%; */
  right: 17.43%;
  /* top: 43.48%; */
  bottom: 25%;
}

.profile{
  position: absolute;
  /* left: 90%; */
  right: 4.93%;
  /* top: 43.48%; */
  bottom: 25%;
}

/* .avatar{
  padding:1rem;
} */

.avatar-image{
  height: 20vh;
  /* margin: 1rem; */
}

.avatar-subcontainer{
  display: inline-block;
  margin: 1rem;
}

.skills{
  margin: 1rem;
  border: 1px solid rgb(230, 223, 224);
  max-width: 60%;
}

.contact-title{
  border: 1px solid rgb(230, 223, 224);
}

.skills-title{
  border-bottom: 1px solid rgb(230, 223, 224);
}

.contact{
  margin: 1rem;
  max-width: 40%;
}

.contact-item{
  padding:0.5rem;
  border-bottom: 1px solid rgb(230, 223, 224);
  border-left: 1px solid rgb(230, 223, 224);
  border-right: 1px solid rgb(230, 223, 224);
}

.contact-item-middle{
  padding:0.5rem;
  border-left: 1px solid rgb(230, 223, 224);
  border-right: 1px solid rgb(230, 223, 224);
}

.contact-text{
  padding: 0 0 0 1rem;
}

.empty-row{
  height: 2rem;
}
